<SQLStore className="GroupMessage">
    <SQL name="createTable">
        CREATE TABLE IF NOT EXISTS group_message (
        messageId TEXT PRIMARY KEY,
        fromId TEXT,
        groupId TEXT,
        ownerId TEXT,
        messageBody TEXT,
        messageContentType TEXT,
        messageTime INTEGER,
        messageType TEXT,
        readStatus INTEGER,
        sequence INTEGER,
        extra TEXT
        )
    </SQL>
    <SQL name="findMessage">
        SELECT
        *
        FROM
        ( SELECT * FROM group_message WHERE groupId = #{groupId} and ownerId = #{ownerId} ORDER BY messageTime DESC
        LIMIT #{num}, #{size}) AS subquery
        ORDER BY
        subquery.messageTime ASC
    </SQL>

    <SQL name="findMessageCount">
        SELECT count(*) FROM group_message WHERE  ownerId = #{ownerId} AND groupId = #{groupId}
    </SQL>

    <!-- 清空群聊记录 -->
    <SQL name="clearChatHistory">
        DELETE FROM group_message WHERE groupId = #{groupId} AND ownerId = #{ownerId}
    </SQL>

    <!-- 清空群聊记录(FTS5虚拟表) -->
    <SQL name="clearChatHistoryVirtual" type="fts5">
        DELETE FROM group_message_virtual WHERE groupId = #{groupId} AND ownerId = #{ownerId}
    </SQL>

     <!--退出群聊（删除当前用户的群聊记录） -->
    <SQL name="deleteByGroupIdAndOwnerId">
        DELETE FROM group_message WHERE groupId = #{groupId} AND ownerId = #{ownerId}
    </SQL>

    <!-- 退出群聊（删除虚拟表记录） -->
    <SQL name="deleteByGroupIdAndOwnerIdVirtual" type="fts5">
        DELETE FROM group_message_virtual WHERE groupId = #{groupId} AND ownerId = #{ownerId}
    </SQL>
</SQLStore>

